*.o
*.lo
*.ybc
*.la
.deps
.libs
aclocal.m4
autom4te.cache
Makefile
Makefile.in
/Makefile.am
Makefile.am.common
config.h
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
configure.ac
depcomp
install-sh
ltmain.sh
lt*.m4
libtool
libtool.m4
missing
pluglib-bindings.ami
autodocs*.ami
autodocs/doxygen.conf
ylwrap
*.pc
stamp-h*
package/*.tar.bz2
# testsuites
site.bak
/test-driver
tmp.*
*/testsuite/*.log
*/testsuite/*.sum
*/testsuite/site.exp
*.in.test
/config.h.in~
/.yardoc
/doc
