<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>Novell, Inc.</vendor>
  <vendor_url>http://www.novell.com</vendor_url>

  <action id="org.opensuse.yast.scr.read">
    <description>Yast SCR Read Method</description>
    <message>System policy prevents the Yast SCR service from reading any value from the system.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.write">
    <description>Yast SCR Write Method</description>
    <message>System policy prevents the Yast SCR service from writing any value to the system.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.execute">
    <description>Yast SCR Execute Method</description>
    <message>System policy prevents the Yast SCR service from executing system calls.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.dir">
    <description>Yast SCR Dir Method</description>
    <message>System policy prevents the Yast SCR service from listing agent properties.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.registeragent">
    <description>Yast SCR RegisterAgent Method</description>
    <message>System policy prevents the Yast SCR service from registering a new agent.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.unregisteragent">
    <description>Yast SCR UnregisterAgent Method</description>
    <message>System policy prevents the Yast SCR service from unregistering an agent.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.unmountagent">
    <description>Yast SCR UnmountAgent Method</description>
    <message>System policy prevents the Yast SCR service from unmounting an agent.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.error">
    <description>Yast SCR Error Method</description>
    <message>System policy prevents the Yast SCR service from reading error status.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.unregisterallagents">
    <description>Yast SCR UnregisterAllAgents Method</description>
    <message>System policy prevents the Yast SCR service from unregistering all agents.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.scr.registernewagents">
    <description>Yast SCR RegisterNewAgents Method</description>
    <message>System policy prevents the Yast SCR service from registering new unloaded agents.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

</policyconfig> 

