<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>Novell, Inc.</vendor>
  <vendor_url>http://www.novell.com</vendor_url>
  
  <action id="org.opensuse.yast.modules.yapi.samba.getalldirectories">
    <description>Get list of all Samba shares.</description>
    <message>System policy prevents the Yast DBus service from reading all Samba exports.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.samba.addshare">
    <description>Add a new Samba share.</description>
    <message>System policy prevents the Yast DBus service from adding a new Samba share.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.samba.editshare">
    <description>Edit properties of a Samba share.</description>
    <message>System policy prevents the Yast DBus service from editing properties a Samba share.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.samba.deleteshare">
    <description>Delete a Samba share.</description>
    <message>System policy prevents the Yast DBus service from deleting a Samba share.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.samba.enableshare">
    <description>Enable or disablea a Samba share.</description>
    <message>System policy prevents the Yast DBus service from enabling or disabling a Samba share.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.samba.getshare">
    <description>Get details about a Samba share</description>
    <message>System policy prevents the Yast DBus service from reading properties of a Samba share.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.samba.getshareenabled">
    <description>Get status of a Samba share (enabled/disabled)</description>
    <message>System policy prevents the Yast DBus service from reading status of a Samba share.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_session</allow_active>
    </defaults>
  </action>

</policyconfig> 

